/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark: #17202c;
	--white: #ffffff;
	--redCol: #8f43ee;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-weight: 300;
	@apply bg-dark text-white font-normal;
}

section {
	@apply py-16 lg:py-24;
}

h1 {
	@apply text-4xl;
}
h2 {
	@apply lg:text-4xl text-2xl;
}
h3 {
	@apply lg:text-2xl text-xl;
}
h4 {
	@apply text-xl;
}

.mini-text {
	@apply text-xs;
}
.font_medium {
	@apply font-medium;
}

.outlined_btn {
	border: 1px solid var(--redCol);
	padding: 8px 44px;
	border-radius: 8px;
	text-decoration: none;
	color: var(--redCol);
	position: relative;
	overflow: hidden;
	transition: all 0.5s;
}

.outlined_btn:hover {
	color: var(--white);
}

.outlined_btn span {
	position: relative;
	z-index: 1;
}

.outlined_btn::before {
	content: '';
	position: absolute;
	background-color: var(--redCol);
	width: 0;
	height: 0;
	transition: all 0.5s;
	left: var(--xPos);
	top: var(--yPos);
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.outlined_btn:hover::before {
	width: 500px;
	height: 500px;
}

.outlined_btn_white {
	border: 1px solid var(--white);
	padding: 8px 44px;
	border-radius: 8px;
	color: var(--white);
	position: relative;
	overflow: hidden;
	transition: all 0.5s;
	text-decoration: none;
}

.outlined_btn_white:hover {
	color: var(--dark);
}

.outlined_btn_white span {
	position: relative;
	z-index: 1;
}

.outlined_btn_white::before {
	content: '';

	position: absolute;
	background-color: var(--white);
	width: 0;
	height: 0;
	transition: all 0.5s;
	left: var(--xPos);
	top: var(--yPos);
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.outlined_btn_white:hover::before {
	width: 500px;
	height: 500px;
}

.filled_btn {
	padding: 8px 44px;
	border-radius: 8px;
	color: var(--white);
	transition: all 0.5s;
	font-weight: 500;
	background-color: var(--redCol);
	text-decoration: none;
}
.about {
	background-size: cover;
	background-position: top;
}

blockquote {
	display: block;
	background: var(--dark);
	padding: 15px 20px 15px 45px;
	position: relative;
	margin-bottom: 1rem;
	margin: 0 0 20px;

	/*Font*/
	font-style: italic;

	/*Borders - (Optional)*/
	border-left: 5px solid var(--redCol);
}

blockquote::before {
	content: '\201C'; /* Unicode for Left Double Quote */

	/*Font*/
	font-size: 30px;
	font-weight: bold;
	color: var(--white);

	/*Positioning*/
	position: absolute;
	left: 10px;
	top: 5px;
}
blockquote::after {
	/*Reset to make sure*/
	content: '';
}

blockquote a:hover {
	color: #666;
}

blockquote em {
	font-style: italic;
}
