@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	body {
		font-family: 'Poppins', 'Inter', sans-serif;
		@apply bg-dark text-white;
	}

	section {
		@apply py-16 lg:py-24;
	}

	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply lg:text-4xl text-2xl;
	}
	h3 {
		@apply lg:text-2xl text-xl;
	}
	h4 {
		@apply text-xl;
	}
}

@layer utilities {
	.mini-text {
		@apply text-xs;
	}
	.font_medium {
		@apply font-medium;
	}

	.outlined_btn {
		border: 1px solid #c3317d;
		padding: 8px 44px;
		border-radius: 8px;
		text-decoration: none;
		color: #c3317d;
		position: relative;
		overflow: hidden;
		transition: all 0.5s;
	}

	.outlined_btn:hover {
		color: white;
	}

	.outlined_btn span {
		position: relative;
		z-index: 1;
	}

	.outlined_btn::before {
		content: '';
		position: absolute;
		background-color: #c3317d;
		width: 0;
		height: 0;
		left: var(--xPos);
		top: var(--yPos);
		transform: translate(-50%, -50%);
		border-radius: 50%;
		transition: all 0.5s;
	}

	.outlined_btn:hover::before {
		width: 500px;
		height: 500px;
	}

	.filled_btn {
		padding: 8px 44px;
		border-radius: 8px;
		text-decoration: none;
		color: white;
		transition: all 0.5s;
		font-weight: 500;
		background-color: #c3317d;
	}
}
